<h1>ListingSlots#index</h1>
<p>Find me in app/views/listing_slots/index.html.erb</p>

<p>see all of your bookings on this page</p>

<% if current_user.user_type == 'vendor' %>
  <%= render "vendorslots", listing_slots: @vendor_slots %>
<% else %>
  <%= render "clientslots", listing_slots: @client_slots %>
<% end %>

<%= link_to "Back to see all tours", listings_path%>
