<div class="container my-3">
  <h2>Make a new booking for <%= @listing.title %></h2>

  <%= render "form", listing: @listing, slot: @slot, booking: @booking %>

  <%= link_to "Back to see all tours", listings_path%>
</div>
