.btn-secondary {
  color: $gray;
  padding: 8px 24px;
  border-radius: 10px;
  background: #ffffff;
  transition: background 0.3s ease;
}

.btn-secondary:hover {
  opacity: 0.8;
  background: #0F60C4;
  border: 1px solid #0F60C4;
}

.btn-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: #0F60C4;;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
